CLAUDE.md
docs/

/vendor
composer.lock
.phpunit.cache
.phpunit.result.cache
.env
.DS_Store

workbench/database/database.sqlite
workbench/storage
workbench/bootstrap/cache/*
!workbench/bootstrap/cache/.gitkeep
